.form-container {
    margin: 50px auto auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 15px;
    width: 300px;
    box-shadow: 0 0 15px 0 var(--main-color);
    background-color: var(--background-color);
}

@media(max-width: 400px){
    .form-container {
        padding: 10px;
        width: 250px;
    }
}

.form-header-container {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}